.contact-section {
    padding: 160px 40px;
    background: #f9fbfd;
  }
  
  .contact-container {
    max-width: 1200px !important;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
  
  .contact-left span {
    color: #00aeef;
    font-weight: 700;
  }
  
  .contact-left h2 {
    font-size: 4rem;
    margin: 20px 0;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 18px;
    border: 1px solid rgba(0,0,0,.1);
    outline: none;
  }
  
  .contact-form button {
    padding: 18px;
    border: none;
    background: #2E3192;
    color: white;
    cursor: pointer;
  }
  
  @media(max-width:900px){
    .contact-container{
      grid-template-columns:1fr;
    }
  }